h2{
    color: #73efdd;
    font-family: "full-width";
    font: full-width;
    font-size: 50px;
    font-style: unset;

}
p{
    color: #380606;
    font-size: 60px;
    padding-left: 5px;
    child-align: auto;
    position: center;
    font-style: oblique;

}
#

